.map-container-page{
    height: 100vh;;
    width: 100%;
    display: flex;
    // align-items: last baseline;
    // justify-content: center;
}

.form-container{
    height: auto;
    width: 20%;
    margin: 10px 15px;
}
.form-container form{
    // background-color: brown;
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.input-field{
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    width: 90%;
    // background-color: burlywood;
    // padding: 10px;
    
}
.input-field-origin, .input-field-destination{
    width: 95%;
    display: flex;
    align-items: center;
    margin: 5px;
}

.get-route-button{
    width: 50%;
    height: 20px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    background-color: rgb(96, 202, 223);
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
}

.map-container{
    height: 100vh;
    width: 80%;
    // margin: 20px 0;
    border-radius: 10px;
    border: 2px solid rgb(96, 202, 223);
}

.suggestions-list{
    // background-color: antiquewhite;
}


.suggestion-item {
    z-index: 999;
    width: 100%;
    margin: 2px;
    padding: 10px;
    border-radius: 5px;
    display: flex;                /* Flexbox for vertical centering */
    align-items: center;          /* Vertically center */
    justify-content: center;      /* Horizontally center */
    // background-color: aquamarine;
    background-color: transparent;
    box-sizing: border-box;       /* Ensure padding is included in width */
}

.suggestion-item:hover {
    background-color: rgb(227, 224, 224);
    cursor: pointer;
}

.suggestion-item span {
    white-space: nowrap;          /* Prevent text from wrapping */
    overflow: hidden;             /* Hide overflowing text */
    text-overflow: ellipsis;      /* Add ellipsis for overflow text */
    display: block;               /* Block display for truncation */
    width: 100%;                  /* Take up full width */
    text-align: center;           /* Center align text horizontally */
}


